.content-day {
    background-color: #B3D1E8;
    font-size: 13px;
    width: 150px;
}

a.direction {
    padding-top: 5px;
    color: black;
}

.button {
    background-color: white;
}

.active {
    color: white;
    background-color: #1ABAC5;
}

.content-two {
    height: 177px;
    background-color: #E6F7F9;
}

li {
    list-style: none;
}

.align-super {
    height: 80px;
    width: 12px;
    background-color: #0066B3;
}
