
<div class="option d-flex button-table">
  <div class="option-button d-flex">
    <button class=" items-center  flex-fill  border  py-1" id="roster" (click)="RosterButton()"
      [ngStyle]="{'background-color': checkRoster ? '#1ABAC5':'white','color': checkRoster ? 'white':'black' }">Roster
    </button>
    <button class=" items-center  flex-fill border  py-1" id="availability" (click)="AvaiButton()"
      [ngStyle]="{'background-color': checkAvai ? '#1ABAC5':'white','color': checkAvai ? 'white':'black' }">Availability
    </button>
    <button class="items-center  flex-fill border  py-1" id="leave" (click)="LeaveButton()"
      [ngStyle]="{'background-color': checkLeave ? '#1ABAC5':'white','color': checkLeave ? 'white':'black' }">Leave
    </button>
  </div>
  <div *ngIf="this.changeCalendar != 3">
    <app-button-week (truyenchobo)="buttonWeek($event)"> </app-button-week>
  </div>
  <div *ngIf="this.changeCalendar == 3">
    <button class="items-center  flex-fill border px-4 py-2" id="request" (click)="LeaveButton()"
      [ngStyle]="{'background-color': checkLeave ? '#1ABAC5':'white','color': checkLeave ? 'white':'black' }"  (click)=" OpenNotification()">Request Leave
    </button>
  </div>
</div>

<div class="mt-4   table-calendar" *ngIf="this.changeCalendar != 3">
  <app-table-week [infoUpdate]="messager" [changeCalendar]="changeCalendar" [rosters]="rosters"></app-table-week>
</div>
<div *ngIf="this.changeCalendar == 3">
  <app-table-leave [leaves]="leaves" [rowData]="rowData"></app-table-leave>
</div>
<app-popup-form (isClosePopupEvent)="ClosePopup($event)" [isClick]="isClick" [isOpenPopup]="isOpenPopup"
  (newLeavesEvent)="newLeavesEvent($event)"></app-popup-form>
<div>{{leaves}}</div>
