<div [ngClass]="{'popup':isOpenPopup,'popup-close':!isOpenPopup}">
  <div (clickOutside)='onClickOutsidePopup($event)' class="content border-black rounded-3 ">
    <div class="fw-normal fs-6 py-4 text d-flex justify-content-between px-4">
      <div class="text-white">LEAVE REQUEST</div>
      <i (click)="ClosePopup()" class="bi bi-x text-white fs-5"></i>
    </div>
    <form class="row px-4" (ngSubmit)="submit(f)" #f="ngForm">
      <div class="mb-3 mt-3">
        <label>LEAVE TYPE</label>
        <select ngModel name="contactMethod" class="form-select" autocomplete="false"  [(ngModel)]="leave.type" [(ngModel)]="notification.typeNotification">
          <option value=""  selected disabled >Select type</option>
          <option *ngFor="let type of types" [value]="type.name">
            {{ type.name }}
          </option>
        </select>
      </div>
      <div class="mb-3 col-6">
        <app-input #fromDate   [typeInput]="'date'" [content]="leave.fromDate" title="DATE FROM">Date from</app-input>
      </div>
      <div class="mb-3 col-6">
        <app-input #toDate [typeInput]="'date'" [content]="leave.toDate" title="DATE TO">Date to</app-input>

      </div>
      <div class="mb-1 ">
        <input type="checkbox" (click)="addAll()" ngModel name="all" class="me-2" id="all" checked value="true"/>
        <label class="" for="all">All Day</label>
      </div>
      <div *ngIf="isAll" class="mb-3 col-6">
        <app-input #timeExample  [typeInput]="'time'" [content]="timeExample" title="START TIME">Start time</app-input>
        <!-- <app-input-time #startTime [content]="leave.startTime" title="START TIME"></app-input-time> -->
      </div>
      <div *ngIf="isAll" class="mb-3 col-6">
        <app-input #endTime [typeInput]="'time'" [content]="leave.endTime" title="END TIME">End time</app-input>
        <!-- <app-input-time #endTime [content]="leave.endTime" title="END TIME"></app-input-time> -->


      </div>
      <div class="mb-3 d-flex flex-column">
        <label for="comment">COMMENT</label>
        <textarea class="rounded-3" name="comment" [(ngModel)]="leave.comment" [(ngModel)]="notification.content">
          </textarea>
      </div>
      <div class="mb-3 ">
        <button class="btn-save border-0 py-2 px-4 rounded-5" type="submit"  >Save</button>
        <button (click)="ClosePopup()"
          class="bg-white border border-1 border-black btn-cancel py-2 px-4 ms-3 rounded-5">Cancel</button>
      </div>
    </form>
  </div>
