<!-- <meta
    name="viewport"
    content="width=device-width, initial-scale=1"
/> -->
<div class="d-flex justify-content-center col-8 max-w-4xl lg:mx-auto">
    <div class="my-10 flex flex-col mx-8 space-x-0 md:flex-row md:space-x-12">
        <div class="items-center flex flex-col">
            <span (click)="updateImage()"><app-avatar [isNavbar]="false" [user]="this.user"></app-avatar></span>
            <h3 class="text-center text-x1 font-bold mt-4">{{this.user.name}}</h3>
            <p class="text-center text-sm text-[#7e8890]">{{this.user.surname}}</p>
        </div>
        <form #f="ngForm" (ngSubmit)="submit(f)">
        <div class="div-form">
            <app-form-table>
                    <h3>Profile</h3>
                    <div>
                        <div class="flex flex-col md:flex-row ">
                            <div class="mb-4 flex-1-1">
                                <app-input #firstname [content]="user.name" title="FirstName">FirstName</app-input>     
                            </div>
                            <div class="mb-4 flex-1-1">
                                <app-input #lastname [content]="user.surname" title="LastName">LastName</app-input>
                            </div>
                        </div>
                        <div class="flex flex-col md:flex-row" >
                            <div class="mb-4 flex-1-1">
                                <app-input #id [content]="user.id" title="Id">Id</app-input>
                            </div>
                            <div class="mb-4 flex-1-1">
                                <app-input #position [content]="user.position" title="Position">Position</app-input>
                            </div>
                        </div>

                        <div class="mb-4 flex-1-1">
                            <app-input #email [content]="user.emailAddress" title="Email">Email</app-input>
                        </div>

                        <div class="mb-4 flex-1-1">
                            <app-input #phone [content]="user.phone" title="Phone">Phone</app-input>
                        </div>
                    </div>           
            </app-form-table>       
           <app-form-table>
                    <h3>Additional shifts register settings</h3>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="earlyStart" name="earlyStart" [(ngModel)]="user.isEarlyStart">
                        <label class="form-check-label" for="earlyStart">
                            Available for Early Start(Prior to contracted start time)
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input " type="checkbox" value="" id="lateFinish" name="lateFinish" [(ngModel)]="user.isLateFinish">
                        <label class="form-check-label" for="lateFinish">
                            Available for Late Finishes(Prior to contracted finish time)
                        </label>
                    </div>
                    <div class="form-check ">
                        <input class="form-check-input" type="checkbox" (click)="isEnable()" value="" name="additionalShift" id="additionalShift" [(ngModel)]="user.isAdditionalShift">
                        <label class="form-check-label" for="additionalShift">
                            Available for Additional Shift(Days and Times)
                        </label>
                    </div>
                    <div class="padding-div-enable" *ngIf="this.user.isAdditionalShift">
                        <div class="flex flex-col ">
                              <app-preferred-day #prefer [user]="user"></app-preferred-day>
                        </div>
                        
                        <div class="flex flex-col mt-1">
                            <label>Select your available time range</label>
                            <div class="inline-flex item-center mt-1">
                                <app-input-time #start [content]="user.startTime" title="Start Time"></app-input-time>
                                <span>to</span>
                                <app-input-time #end [content]="user.endTime" title="End Time"></app-input-time>
                            </div>
                        </div>
                    </div>
                </app-form-table>
            
            <button class="radius-button btn bgr-color-primary" >Save Changes</button>
        </div>
    </form>
    </div>      
</div>

<app-update-image-modal #updateImageModal (modalSave)="onImageUpdated($event)"></app-update-image-modal>





